<div class="basic-menu">
  
  <h2>{{ section.settings.heading }}</h2>

  <ul>
    {% for link in section.settings.menu.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>

<style>
  .basic-menu {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .basic-menu h2 {
    color: black;
  }
  .basic-menu ul {
    list-style-type: none;
    padding: 0;
  }
  .basic-menu li {
    display: inline-block;
    margin-right: 20px;
  }
  .basic-menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .basic-menu a:hover {
    color: gray;
  }
</style>

{% schema %}
{
  "name": "Custom Link List",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Quick Links"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu / Link List"
    }
  ],
  "presets": [
    {
      "name": "Custom Link List"
    }
  ]
}
{% endschema %}